# Some useful references for configuring flake8:
#
# http://flake8.pycqa.org/en/latest/user/options.html
# http://flake8.pycqa.org/en/latest/user/error-codes.html
# https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8

[flake8]
max-line-length = 79

# Enable checks that were disabled by default.
extend-select =
    # B902: Invalid first argument for method: use "self" and "cls" consistently
    B902,

# Disable checks for individual files.
per-file-ignores =
    # F401: imported but unused: __init__.py files typically do not use their imports
    __init__.py:F401,
    # B011: assert False used: allow this for tests
    tests/*:B011,

# Disable checks for all files.
extend-ignore =
    # E203: whitepace before ':': incompatible with black
    E203,
    # E701: multiple statements on one line: incompatible with black
    E701,
    # E722: do not use bare 'except': subsumed by bugbear's B001
    E722,
