# Python files and directories
*.pyc
__pycache__/
.mypy_cache/
.pytest_cache/
.tox/
/*.egg-info/
/build/
/dist/

# IDE files and directories
/.vscode/

# Other files and directories
core.*
vgcore.*
htmlcov
.coverage

tests/e2e
tests/unwind
