*.egg-info
*.eggs
*.pyc
*~
.DS_Store
.cache
.coverage
.coverage.*
.tox
.vscode
MANIFEST
__pycache__/
_build/
build/
coverage.xml
dist/
docs/api/
html/
junit-*.xml
uv.lock

src/gtirb_rewriting/version.py
tests/e2e
tests/unwind
